.comment-form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.comment-form input,
.comment-form textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.comment-form textarea {
  height: 150px;
}

.comment-form button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.comment-form button[type="submit"]:hover {
  background-color: #3e8e41;
}
